[2015-11-27 22:26] mostaphaRoudsari opened #1 "import epw"
Takes an epwFile and an [AnalysisPeriod](https://github.com/ladybug-analysis-tools/ladybug-dynamo/issues/2) and outputs annual weather data

[2015-11-27 22:27] mostaphaRoudsari opened #2 "AnalysisPeriod"
Takes 2 * (day, month and hour) and returns and analysis period

[2015-11-27 22:40] mostaphaRoudsari opened #3 "modifyEPW"
Input an epw file, replaces values but new values from user and saves a new .epw file.

or maybe it should be called epw.modify in Dynamo?
@ayezioro, @arkdanielnielsen and @ksobon and any other person who is reading this. What do you think about the naming? Do you think we should keep it consistent with the Grasshopper development or should we follow Dynamo naming convention importEpw or epw.impor

[2015-11-27 22:43] mostaphaRoudsari opened #4 "filterData Nodes"
A node that takes data and filter them based on AnalysisPeriod
A node that takes data and filter them based on a pattern
A node that takes data and filter them based on ConditionalStatement

[2015-11-27 22:44] mostaphaRoudsari commented on #2
Also analysisPriod.timeStamps
analysisPeriod.HoursOfYear

[2015-11-27 22:46] mostaphaRoudsari opened #5 "Location nodes"
constructLocation
deconstructLocation
importLocation

[2015-11-28 09:22] arkdanielnielsen commented on #3
Good question... to make it easier for people moving from GH to DY I would prefer the original GH naming. In the other hand I cannot remember all the names anyway. Typical I remember the components by the images... but in Dynamo it is not possible, as far I know, to create your own icons for single nodes.

[2015-11-28 09:41] ayezioro commented on #3
Hi Mostapha,
Don't think this is critical. As a principle i would say that if you have the choice (easy one) it is preferable to be consistent and keep the names between environments. But in this case i don't think is crucial.
As Daniel, first i look for the icon, then i make sure seeing the name.

-A.

[2015-11-29 03:17] mostaphaRoudsari commented on #3
Hi Daniel and Abraham. Thank you for the feedback. IMO since icons are not easy to see in Dynamo naming is really critical to be able to find the right node. It's actually possible to create your own icons now. Based on your feedback I will keep the naming consistent between GH and DS. Thanks again!

[2015-11-30 16:56] ksobon commented on #3
Are you making your components as ZeroTouch or Python? If it's Python then
I will say, just do what you were doing in Grasshopper. If it's ZT then i
would go the easy route and keep the Dynamo naming (namespace+class+method)
as that's the easiest thing to do.
Also, I don't necessarily agree with the argument that your user base will
be the same as in Grasshopper. As a matter of fact I found that m

[2015-12-01 00:14] mostaphaRoudsari commented on #3
Hi @ksobon! Thanks. Very informative. It will be Python nodes and naming is a choice. Good point about having two separate group of users. I haven't made my mind yet. The libraries are almost ready so I need to make a decision very soon. The good news is that we can test one of them and then change to the other one if it didn't work well. I'm still not sure what I will be doing. :) Thanks again.

[2015-12-04 03:44] mostaphaRoudsari commented on #1
![image](https://cloud.githubusercontent.com/assets/2915573/11581383/3b10e9ee-9a0f-11e5-82d3-29941aa4b456.png)

[2015-12-04 03:44] #1 closed

[2015-12-04 03:46] mostaphaRoudsari commented on #2
![image](https://cloud.githubusercontent.com/assets/2915573/11581397/922fbb92-9a0f-11e5-9103-db6b09d2c905.png)

I leave it open for timeStamps and HoursOfYear

[2015-12-04 16:54] mostaphaRoudsari commented on #2
![image](https://cloud.githubusercontent.com/assets/2915573/11595480/caa9d642-9a7d-11e5-90e4-9f5d0e590584.png)

[2015-12-04 16:54] #2 closed

[2015-12-04 22:00] mostaphaRoudsari commented on #5
![image](https://cloud.githubusercontent.com/assets/2915573/11602463/7d85df2a-9aa8-11e5-9040-7d1f2d4466d2.png)

[2015-12-04 22:00] #5 closed

[2015-12-04 22:03] mostaphaRoudsari opened #6 "sunpath node"
This will be the first visual component in Dynamo. I need to write the libraries first (https://github.com/ladybug-analysis-tools/ladybug-core/issues/4)

[2015-12-06 16:35] mostaphaRoudsari commented on #6
- [x] daily curves
- [x] hourly curves
- [x] base plane circles
- [x] sun positions

[2015-12-08 07:10] mostaphaRoudsari commented on #6
Getting somewhere with this:
![image](https://cloud.githubusercontent.com/assets/2915573/11649761/61e7c80a-9d50-11e5-8925-f37672559d6c.png)

Using intersections are computationally expensive. I will add sunset and sunrise hours to sunpath class tomorrow and finish the sunpath code and node for Dynamo.

[code]

[2015-12-09 07:47] mostaphaRoudsari commented on #6
[code]

![image](https://cloud.githubusercontent.com/assets/2915573/11679454/36c24b30-9e1f-11e5-90f6-ca6135663b67.png)

[2015-12-10 03:12] mostaphaRoudsari commented on #6
Boom!
![image](https://cloud.githubusercontent.com/assets/2915573/11705882/c2479c08-9ec1-11e5-8ece-34e02f8ff1c9.png)

Will close this once I add inputs, outputs and descriptions. Dynamo's Trim is not always working as expected. I'm happy I didn't have to write my own trim function!

[2015-12-10 07:05] mostaphaRoudsari commented on #6
![output_jnr5wq](https://cloud.githubusercontent.com/assets/2915573/11709058/5dd9108c-9ee2-11e5-9f95-80030cf45f63.gif)

[2015-12-10 07:05] #6 closed

[2015-12-12 17:06] mostaphaRoudsari opened #7 "Update all the current nodes to work with the new structure"
[As a result of changing the structure of libraries](https://github.com/ladybug-analysis-tools/ladybug-dynamo/commit/89189e5a567e4517a9c4d1387e72c71d5bd430cf) all the current nodes are broken!

Dynamo libraries now have dependencies on ladybug-core (and not the other way around). The main advantage of this change is that the user will only interface with the geometry library which calls the core l

[2015-12-12 17:29] #7 closed

[2016-01-15 06:35] mostaphaRoudsari opened #8 "LadybugDynamo Memory issues"
I'm opening this issue to document the issue that I have with memory management in Dynamo.
## Preparation

To replicate this issue you need to [download the zip file](https://github.com/ladybug-analysis-tools/ladybug-dynamo/archive/master.zip) this repository or clone it. Create a Ladybug folder under Dynamo packages folder and copy ladybugdynamo folder under extra (e.g. `C:\Users\Administrator\Ap

[2016-01-19 18:31] mjkkirschner commented on #8
@mostaphaRoudsari I will need some more time to look into the issue further but there are some hints in my initial profiling and looking at your code:

In the images below you can see that there are about 3 gigs of unmanaged objects we cannot inspect using .net profilers. This immediately makes me suspect the geometry operations and of course the fact that there are no disposal calls in your pytho

[2016-01-20 20:05] mostaphaRoudsari commented on #8
Hi @mjkkirschner, Thank you for checking. I admit that I used the wrong term. My machine doesn't actually crash. It does run out of memory.

I'm double checking the code and make sure to dispose geometry interactions as well as the python objects itself except what I output in Dynamo. I will let you know when I commit the newer version so you can give it another try.

I also started doing comparat

[2016-01-20 20:23] mjkkirschner commented on #8
@mostaphaRoudsari we should still be able to figure out how to stop you from running out of memory, because you're seeing these issues without geometry problems as well (is that true?) then if forced to guess I would say it has to do with python and the loading of libraries repeatedly.

[2016-01-21 08:09] mostaphaRoudsari commented on #8
@mjkkirschner I have a good news and a bad news. The good news is disposing the geometries and also deleting the objects that I create in Python except the results of the component helped with the memory but then it makes the script much slower. I will work on it a little bit more and then I'll commit the final version to repository so you can give it a try tomorrow.

[2016-02-25 19:54] pflaumingo commented on #8
@mostaphaRoudsari has this issue been fixed? I'm having some issues on my end with memory after successive runs.

[2016-02-25 20:00] mostaphaRoudsari commented on #8
Hi @pflaumingo! This one is not solved but I'm developing a radiance-based method for the new release which will solve the issue for users. I will keep you posted.

[2016-03-09 16:50] mostaphaRoudsari opened #9 "Implement radiance-based sunlighthours calculation for sunlight hours"
- [x] Write dynamo geometry library on top of Honeybee. All I really need is extract mesh points. Here is a working test case.
[code]

- [x] Minimum implementation of rcontrib command based on [Sarith's workflow](https://github.com/sariths/Honeybee/commit/5869c37ebb1216bb3330839e52d26257881f7388) from Ladybug.

- [x] Run validation test against vector based method.

- [x] Full implementation and n

[2016-03-28 00:36] mostaphaRoudsari commented on #9
1 - Using honeybee library I need to create .pts, material file and geometry file.
2 - I can use [sunpath library](https://github.com/mostaphaRoudsari/Honeybee/issues/477#issuecomment-183172818) to generate sun vectors for any custom time period and write them to two files. For each sun position sun geometry file looks like:
`solar1 source sun1 0 0 4 sunvector.X sunvector.Y sunvector.Z 0.533`

whe

[2016-04-14 13:57] Lexiko opened #10 "Getting results back into revit"
I am able to run the analysis on surfaces selected from revit. I'm stuck with getting results back into revit. The "FaceAnalysisbyViewPoints and results" node only returns one surface. Am I missing something?

[2016-04-18 15:32] mostaphaRoudsari commented on #10
Hi @Lexiko! Thank you for posting the issue and also posting it to [the forum](http://dynamobim.org/forums/topic/face-analysis-display-by-view-face-points-and-values-node-bug/). Looks like there is no easy way to solve this issue. I think we should wait for Dynamo team's reply to your [github issue](https://github.com/DynamoDS/Dynamo/issues/6454) unless @ksobon knows some magical workarounds.

[2016-05-04 08:52] josols opened #11 "Dynamo 1.0.0"
Got errorno2 when testing in Dynamo 1.0.0 for Revit. Guessing it has something to do with dynamo being installed in new folder called Dynamo for Revit?

[2016-05-04 19:38] mostaphaRoudsari commented on #11
Hi @josols, Thanks for reporting! I think you're right. I was still using an older release of Dynamo 1.0 which has the same folder structure. Let me check and get back to you soon. Cheers.

[2016-05-05 06:37] mostaphaRoudsari commented on #11
@josols I did the first pass tonight and uploaded a new version but it won't fully solve the problem. I will work on it tomorrow and will update this issue once I have a working version.

[2016-05-05 14:07] mostaphaRoudsari commented on #11
@josols try ladybug 0.0.8. It should work fine both under Revit or for stand-alone dynamo.

I have one extra fix for gencumsky before closing this issue.

[2016-05-05 17:36] josols commented on #11
Now that's quick issue management! :) I'll try later on.

[2016-05-06 08:57] 3sk0r commented on #11
@mostaphaRoudsari thanks!

[2016-05-07 02:37] #11 closed

[2016-05-07 02:49] mostaphaRoudsari commented on #11
Just pushed 0.0.9 which solve the issue with radiation analysis too. Thanks again for reporting.

[2016-05-17 04:34] mostaphaRoudsari opened #12 "Ladybug 0.9 in #DynamoBIM 1.0.1 returning extra dates/vectors from analysis period"
![](https://pbs.twimg.com/media/CinWpdSVEAA0CCc.jpg)
Read more [here](https://twitter.com/ParametricMnky/status/732352744640520192).

Reported by @ParametricMonkey! Thanks.

[2016-05-21 22:43] mostaphaRoudsari commented on #12
@ParametricMonkey sorry for the delay on this. I started a series of performance enhancements that https://github.com/ladybug-analysis-tools/ladybug/commit/fbd7e48f9f3500295b54934bbfb0f491b1e2da09 enhancements that also addresses this issue.

PS: With the next release we will have a [radiance based sunlight hours analysis](https://github.com/ladybug-analysis-tools/honeybeex/issues/11#issuecomment-

[2016-05-23 07:53] ParametricMonkey commented on #12
@mostaphaRoudsari so does this mean its updated or are you waiting until the next release?

[2016-05-23 19:30] josols opened #13 "Generate Sky Matrix not working?"
When I try the generate sky matrix I recieve an error: You need to calculate the matrix... If you see this within Dynamo try to rewire or something like that. Tried that but can't make it to work. Any suggestions?
![image](https://cloud.githubusercontent.com/assets/7080648/15481948/72003388-212d-11e6-8457-852aabc02794.png)

[2016-05-24 00:57] mostaphaRoudsari commented on #13
Hi @josols, This is a known bug. It happens because Dynamo doesn't wait for the calculation the first time that you generate the sky matrix. The solution is to run it again and it will import the results that are already generated under the installation folder. Let me know if it does solve the issue.

[2016-05-24 01:01] mostaphaRoudsari commented on #12
@ParametricMonkey back to AnalysisPeriod I haven't updated the package but I will do in the next two days and will close this issue. Sunlighthours will be out with the next major release in June but I can send you a prototype to test.

[2016-05-24 01:05] Lexiko commented on #12
hi @mostaphaRoudsari i would be very interested in testing the sunlighthours prototype too if you like

[2016-05-24 01:14] mostaphaRoudsari commented on #12
Hi @Lexiko! Great! I will share the link here after the new release of Radiance is out.

@rpg777 do you think that we will have a new release for Radiance any time soon?

[2016-05-24 02:36] rpg777 commented on #12
@mostaphaRoudsari yes, sorry it's been so long in coming. I will try to get those put together tomorrow.

[2016-05-24 02:39] mostaphaRoudsari commented on #12
Hi @rpg777! Thanks for the quick reply. Anytime during this week will be great for me. So many thanks.

[2016-05-24 02:45] rpg777 commented on #12
No problem @mostaphaRoudsari, your payment will be to show me what you've been up to. This stuff looks cool.

[2016-05-24 02:49] mostaphaRoudsari commented on #12
@rpg777 you got this. @sariths and I will [remotely] present all the new radiance related stuff during the radiance workshop. We haven't submitted our abstract but we will do soon.

[2016-05-24 04:55] josols commented on #13
Thanks, I did try that. I even rewired as specified, but couldn't get it to work unfortunatey.

[2016-05-24 11:40] mostaphaRoudsari commented on #13
@josols there is a white space in your directory path that Radiance doesn't like at all. Can you try a different folder with no white space? I thought that I fix this in the new release but looks like it still doesn't work on your machine. Sorry! :|

[2016-05-24 19:38] josols commented on #13
hmm, I tried renaming the directory and choosing a different one with no whitespace. Still nothing I'm afraid. Also checked my version 0.0.9

[2016-05-24 20:43] rpg777 commented on #12
Win64 package available here, so far: https://github.com/NREL/Radiance/releases/tag/5.0.a.11
We'd love if you could grab this up and test it out @mostaphaRoudsari

[2016-05-24 21:36] mostaphaRoudsari commented on #12
@rpg777 thanks! Just ran a couple of tests. The previous bug is fixed! :tada: Some of the points are still missing 1 or 2 modifiers out of +2700 suns. I need to take a closer look and see if I can find a pattern but this is different form the [previous issue](https://unmethours.com/question/17201/rcontrib-misses-one-of-the-modifiers-if-number-of-modifiers-between-240-420/). Thanks :)

![image](htt

[2016-05-24 22:04] mostaphaRoudsari commented on #13
@josols let's see if you can generate the results manually on your machine. If you check the workingDir there should be a folder with the name of your weather file. (e.g. workingDir\Tampa_International_Ap). Inside the folder there are 4 files. Two of them are `.mtx` files and should be between 7-14 MB.

![image](https://cloud.githubusercontent.com/assets/2915573/15521307/0bc9bd30-21d9-11e6-8c14-39

[2016-05-31 20:28] mostaphaRoudsari opened #14 "Add description to outputs"
#### Ladybug
- [x] construct location
- [x] deconstruct location
- [x] import epw
- [x] import location

#### Analyze Weather Data
- [x] Analysis Period
- [x] Calculate HOY

#### Visualize Weather Data
- [x] Filter Sky Matrix
- [x] Generate Sky Matrix
- [x] Sunpath

#### Environmental Analysis
- [x] Solar Radiation Analysis
- [x] Sunlighthours Analysis

#### Extra
- [x] Color Surface
- [x] Generat

[2016-06-02 01:36] mostaphaRoudsari opened #15 "Support Revit location in Location.fromLocation method"
![image](https://cloud.githubusercontent.com/assets/2915573/15731145/e08b615a-2840-11e6-8736-b395674158d3.png)

[2016-06-03 05:33] mostaphaRoudsari commented on #12
This is finally solved! Download version 0.1.1
![image](https://cloud.githubusercontent.com/assets/2915573/15769611/b1a44e20-292a-11e6-8652-ddd932f34880.png)

[2016-06-03 05:38] mostaphaRoudsari commented on #13
@josols the new version `0.1.1` should fix this issue. Let me know if you still have issues.

[2016-06-03 05:38] #13 closed

[2016-06-03 05:39] mostaphaRoudsari commented on #14
Added!

[2016-06-03 05:39] #14 closed

[2016-06-03 17:01] #15 closed

[2016-06-07 00:04] ParametricMonkey commented on #12
@mostaphaRoudsari It still has extra dates, it has just moved to the end. In your image you have it going to 15:00, but the dates outputted are 15:45.

[2016-06-07 22:58] mostaphaRoudsari opened #16 "Generate test points fails to generate test points for off-axis surfaces"
![image](https://cloud.githubusercontent.com/assets/2915573/15877441/cb8be716-2ce1-11e6-84ed-09edffc061b0.png)

[2016-06-08 03:17] mostaphaRoudsari commented on #12
@ParametricMonkey thanks for pointing this out. That was a different mistake at my end. It's fixed now. All of this issues is happening because the underlying calculation is based on minutes and I keep the inputs as month, day and hour. I hope this time it's fixed and fixed!

![image](https://cloud.githubusercontent.com/assets/2915573/15878470/2fa6b8fa-2ce9-11e6-8d03-d41555c17ec6.png)

I will push

[2016-06-13 12:57] tothom opened #17 "Sunpath node not creating anything"
Hi

There seems to be a bug with the Sunpath node. There nothing coming out of its outputs even though I seems to have set it up properly.

When I copy the python script out of the custom node and I see that it is producing an error message:

`Warning: IronPythonEvaluator.EvaluateIronPythonScript operation failed.
Traceback (most recent call last):
  File "<string>", line 51, in <module>
  File "C

[2016-06-13 13:40] mostaphaRoudsari commented on #17
Hi @tothom, Thank you for reporting. Two questions:
1. Are you using the latest release of ladybug for Dynamo? 0.1.2?
2. What is timestep input in analysis period?

[2016-06-13 13:42] tothom commented on #17
Hi
1. The version of Ladybug is 0.1.2
2. Timestep is set to 1

[2016-06-13 15:45] mostaphaRoudsari commented on #17
@tothom you found a specific case where ladybug datetime fails. I will get this fixed soon. For now if you set the timezone to 1.1 sunpath it will work. This should effect sun positions by less than a degree.

![image](https://cloud.githubusercontent.com/assets/2915573/16013148/569b21ce-315a-11e6-9034-9d072706d99e.png)

Also since you're trying to create +4800 sun positions make sure to set the pr

[2016-06-14 07:05] tothom commented on #17
Hi @mostaphaRoudsari

Thanks! It works now with timezone set to 1.1.

By the way, I only create 17 sun vectors. The _startDay_ and _endDay_ are the same, and so are _startMonth_ and _endMonth_.

[2016-06-29 02:24] ParametricMonkey opened #18 "Sunlighthours analysis test points"
Hi Mostapha

This is more of a wish list than a bug. When running a sunlight hour analysis in grasshopper the input (_geometry) is either a brep, mesh or surface. In Dynamo however the input is points (_testPoints). To generate these points I can use the 'generate test points' node which accepts surfaces and a UV division. The limitation I see is as follows:

- The UV subdivide doesn't include per

[2016-06-29 02:45] Lexiko commented on #18
Hey Paul,

I was trying to achieve the same a few months ago before seeing your presentation at RTCAUS.
I was trying to use the FaceAnalysisDisplay node to represent the results, which wasn't working very well.
[http://dynamobim.org/forums/topic/face-analysis-display-by-view-face-points-and-values-node-bug/](url)
@ksobon has made a node which can achieve the result though.
![archi_lab method](http

[2016-06-29 03:08] ParametricMonkey commented on #18
Hi Alexis. As for the visualisation, it may work. Can you post a higher resolution pic. The graph isn't legible.

[2016-06-29 03:38] Lexiko commented on #18
oops.
![archi_lab method2](https://cloud.githubusercontent.com/assets/18419461/16439711/62748566-3dfe-11e6-8884-384bf559203c.png)

[surface_test2.zip](https://github.com/ladybug-analysis-tools/ladybug-dynamo/files/338501/surface_test2.zip)
The top part is just generating some test points and random values.
I've included the definition file as well

[2016-06-29 03:50] Lexiko commented on #18
Just a heads up Paul. I just remembered struggling to get this to work. "Units Names" and "Units Multipliers" inputs need to be lists.
![image](https://cloud.githubusercontent.com/assets/18419461/16439931/69230d18-3e00-11e6-9964-7386742af1ff.png)

[2016-06-29 14:54] mostaphaRoudsari commented on #18
Hi Paul,

The reason to change geometry input to test points is to unify the interface between ladybug and honeybee and also make the process more flexible.

I agree with all your points for _Generate Test Points_ node. There are several limitations. I can add #16 and much more (e.g you can't calculate the area for each test point accurately. It will fail for trimmed faces, etc.).

The reason that

[2016-07-04 05:53] ParametricMonkey commented on #18
OK. So I've had some time to digest all the information. Thanks for all the help. There seems to be lot of discussions already around the topic. Some observations/thoughts:
- The ladybug analysis is very slow. It is taking about 1 min to run for very minimal geometry (4 or 5 rooms). Is this because it is using surfaces instead or meshes? Is there a workable solution at the moment or are we reliant

[2016-07-04 10:34] Lexiko commented on #18
![image](https://cloud.githubusercontent.com/assets/18419461/16557782/1a089558-4225-11e6-80b8-5b1fb5a32749.png)
![image](https://cloud.githubusercontent.com/assets/18419461/16557805/39169094-4225-11e6-910a-c569d170e5a0.png)
You need to take your dynamo surfaces and  Import instance by geometries, remap test UV points to their domain. Plug those surfaces and uv points into the Archi-lab node and yo

[2016-07-05 13:08] ksobon commented on #18
@ParametricMonkey

To answer your questions - those that @Lexiko didn't yet - I want to add this:
- @mostaphaRoudsari can probably explain this more, but anything that has to do with Geometry in Dynamo is nosebleed slow and not very reliable. Meshes or surfaces, I am sorry but they are just a pain.
- Revit's Analysis Display Framework is stored with the model as a "display style" for a view. You c

[2016-07-06 04:51] mostaphaRoudsari commented on #18
A quick update.
1. The radiance-based method (aka. honeybee) will solve the issue. It takes a couple of seconds to run the analysis for a couple of rooms.
   ![image](https://cloud.githubusercontent.com/assets/2915573/16607837/9abbe5f8-4313-11e6-987b-8d0f41069886.png)
2. I made good progress on creating grid based on size similar to Grasshopper component.
   ![image](https://cloud.githubuserconten

[2016-07-06 21:57] mostaphaRoudsari commented on #18
@ParametricMonkey, @Lexiko if you download the latest **ladybug** and **honeybee** from Dynamo package manager then you can try [sunlighthours.txt](https://github.com/ladybug-analysis-tools/ladybug-dynamo/files/350964/sunlighthours.txt) file that should address all the concerns about ladybug in this issue.

There are two new nodes that generate test points based on grid size. It also outputs UVs f

[2016-07-06 21:58] mostaphaRoudsari commented on #12
This is fixed!

[2016-07-06 21:58] #12 closed

[2016-07-06 22:00] Lexiko commented on #18
Great! Looking forward to trying it out

[2016-07-08 06:31] ParametricMonkey commented on #18
Thanks guys. I need a bit of time to go through all of this. I'll let you know how I get on.

[2016-07-10 05:41] Lexiko commented on #18
Hi @mostaphaRoudsari , I'm having a couple of issues:
1) The "Rooms to HBZones" node fails when wall common to two rooms has a window in it
![error](https://cloud.githubusercontent.com/assets/18419461/16711867/2646637a-46b4-11e6-97a4-f37c64b41432.JPG)
![common_wall](https://cloud.githubusercontent.com/assets/18419461/16711872/94e977b8-46b4-11e6-9b68-39df34975656.JPG)

2) The results don't seem to

[2016-07-10 12:19] mostaphaRoudsari commented on #18
Hi @lexiko! Thanks for reporting this. Can you share your model with me? I can give it a try today.

[2016-07-10 13:21] Lexiko commented on #18
Hi @mostaphaRoudsari, I've included my Dynamo definition and Revit file.
[HERE](https://www.dropbox.com/s/ubjvwxgq1luvy19/AK_HB.zip?dl=0)
for some reason i can't drag my zip file into here :package:

[2016-07-10 13:25] Lexiko commented on #18
Hi @mostaphaRoudsari I'm having trouble dropping the zip file in here. I've uploaded to dropbox [here](https://www.dropbox.com/s/ubjvwxgq1luvy19/AK_HB.zip?dl=0)

[2016-07-10 13:33] mostaphaRoudsari commented on #18
Thanks @Lexiko! I will give it a try in a couple of hours.

[2016-07-10 14:58] mostaphaRoudsari opened #19 "The "Rooms to HBZones" node fails when wall common to two rooms has a window in it"
Reported by @Lexiko [here](https://github.com/ladybug-analysis-tools/ladybug-dynamo/issues/18#issuecomment-231572072)

![](https://cloud.githubusercontent.com/assets/18419461/16711867/2646637a-46b4-11e6-97a4-f37c64b41432.JPG)

![](https://cloud.githubusercontent.com/assets/18419461/16711872/94e977b8-46b4-11e6-9b68-39df34975656.JPG)

[2016-07-10 15:04] mostaphaRoudsari opened #20 "RoomToZones: The results don't seem to reflect the fact there is a roof above"
Reported [here](https://github.com/ladybug-analysis-tools/ladybug-dynamo/issues/18#issuecomment-231572072).

![](https://cloud.githubusercontent.com/assets/18419461/16711869/3d605e76-46b4-11e6-9ca8-2b5684731ae6.JPG)

@Lexiko I think this is a result of having Volume computations set to Area only in Revit. If that's the case then I need to add an extra check and raise an error for the user to chang

[2016-07-10 15:06] mostaphaRoudsari commented on #18
I opened two new issues with proper names. I'm going to close this one!

[2016-07-10 15:06] #18 closed

[2016-07-10 16:19] mostaphaRoudsari commented on #20
I still don't know how to fix this but it happens because elementsData.GetBoundaryFaceInfo(face) returns an empty list for roof face in this model.

![image](https://cloud.githubusercontent.com/assets/2915573/16714663/273bba80-4698-11e6-9c9e-0d8f92001059.png)

[2016-07-10 17:29] mostaphaRoudsari commented on #20
@Lexiko I checked the model and you're using offset to create the upper level and also create the room. Because of that Revit doesn't assign a corresponding boundary information for the top face of the room and that's why it returns an empty list. I recreated without offset and it works as expected. I can add an exception to raise if there is a case similar to this case. What are your thoughts on

[2016-07-10 19:00] mostaphaRoudsari commented on #19
Revit returns an opening at the intersection of the walls (which looks like a bug) which has four coordinates which two of them are coincident. I added an extra check to catch this. Will close this issue once I commit the changes to github. Thanks @Lexiko for reporting!

![image](https://cloud.githubusercontent.com/assets/2915573/16715404/a5e123b6-46ac-11e6-91fe-9d12d9415fbe.png)

It's working now

[2016-07-10 19:11] #19 closed

[2016-07-11 04:05] #20 closed

[2016-07-11 04:07] mostaphaRoudsari commented on #20
I made the code more forgiving for this case. Seems to be a common practice to create rooms similar to this model. @Lexiko the latest version should have all the issues that you have found fixed. Version 0.0.6.

[2016-07-11 04:17] Lexiko commented on #20
hI @mostaphaRoudsari , yes i think that's a good idea. I thought about it and there are cases where, for example, there may be a split level or double height space where the room would have to be adjusted after placement. fixing this was definitely worthwhile, making the workflow more robust.

[2016-07-14 21:27] #9 closed

[2016-07-20 07:08] ParametricMonkey commented on #18
@mostaphaRoudsari - When you say we should use Radiance 5.0.a.11, is that for Grasshopper as well as Dynamo? In which case, this needs to be updated: https://github.com/mostaphaRoudsari/ladybug/blob/master/resources/Installation_Instructions.md

Does this mean that all my scripts with 5.0.a.6 were all inaccurate?

[2016-07-22 15:38] mostaphaRoudsari commented on #18
@ParametricMonkey all your analysis is fine. That's only the case for radiance-based sunlighthours which is currently only available in Honeybee for Dynamo. In Ladybug for Grasshopper the component uses Grasshopper for ray-tracing.

[2016-10-07 17:21] mostaphaRoudsari opened #21 "Benchmarking import epw node in Dynamo1.2 vs Dynamo and Grasshopper"
I did run the Import Epw component/node in Dynamo1.2, Dynamo1 and Grasshopper for 10 times and here is the results. I used the sandbox version to exclude the _Revit effect_ from the comparisons.

| Program | python script execution time | total time (including assigning the outputs) | memory usage |
| --- | --- | --- | --- |
| Grasshopper | 2.55 s | 2.6 s | 210 MB |
| Dynamo 1 | 3.24 | **25.27 s**

[2016-10-08 11:39] mdengusiak commented on #21
Hi Mostapha, I move also to Dynamo and I agree that Dynamo is much slower. Another issue is when you create/delete some element in Revit you can not run script second time. You need to close and open Dynamo again to clean some internal memory. There is still big task for Dynamo team to solve...

[2016-10-08 13:25] mostaphaRoudsari commented on #21
Hi Michal, Thank you for adding your comment. Do you see a similar pattern in ZT nodes? That can make a huge difference if it's not only a problem with Python nodes but a problem with the Dynamo nodes in general? I think the development team will take it more seriously if this is a problem with Dynamo ZT nodes, otherwise, there is not that much passion on the Dynamo team to improve the performance

[2016-10-13 14:48] mdengusiak commented on #21
I completely agree. I  would  definitely say that is problem with  Dynamo .  Grasshopper is definitely much faster, responsive and flexible. Improving Dynamo performance especially Python nodes should very high priority especially if we are planning to use this environment to do all similar task. At the moment is not as reliable as GH and crushing a lot. Also we need to close and open after runs e

[2016-10-19 13:06] sburg5000 opened #22 "Ladybug Error / Honeybee Suface - SunStudy not creating color"
I am receiving an ERROR: 'HBSuface' object has no attributes 'Points Parameter' I am trying to create a sun study with color on some parametric panels I created using a lofted surface and the native dynamo panel node. I am using Ladybug to generate the sun path and using ladybug's color nodes. I only get one color and only a 1/4 of the surface is getting color.
[10192016 805 AM - Screen Clipping.p

[2016-11-01 15:21] mostaphaRoudsari opened #23 "Re-structure library dependencies"
I should have followed the pythonic way of dependencies from the start. Copying all the dependencies under each other doesn't scale up well. Check butterfly as a reference.

[2016-11-12 00:08] gitgreencoder opened #24 "02_genTestPts.dyn not create color surface"
The color Surface node returns error and color is not generated. Error: 'float' object has no attr. I am using REVIT 2016 and LB 0.1.3

[2016-11-12 00:29] mostaphaRoudsari commented on #24
@gitgreencoder which version of Dynamo are you using?

[2016-11-12 02:44] gitgreencoder commented on #24
1.2.0.

[2016-11-14 00:35] mostaphaRoudsari commented on #24
@gitgreencoder try the new version `0.1.4`

![image](https://cloud.githubusercontent.com/assets/2915573/20250154/402dab22-a9d8-11e6-9bf1-3008aca6d5a7.png)

[2016-11-14 00:35] #24 closed

[2016-11-14 00:36] mostaphaRoudsari commented on #22
This should be fixed in the new version. Check the new example  files in version `0.1.4`. You can download it from the package manager.

[2016-11-14 00:36] #22 closed

[2016-11-17 02:46] mostaphaRoudsari commented on #23
This is now partially done for honeybee and I'm quite happy with the results. Will change it for ladybug before the next release.

[2016-12-07 21:52] jbenoit44 opened #25 "Sun Path node makes the definition crash on reRun"
I'm testing ladybug with Revit 2017 and dynamo 1.2.1. all is fine on first run, but when I update the sunpath scale, a revit fatal error happens.

revit build: 17.0.501.0 20160720_1515(x64) Service Pack 2
dynamo build: 1.2.1.3083
ladybug 0.1.5

thx!

[2017-01-15 23:31] mostaphaRoudsari commented on #25
Hi @jbenoit44, I'm very sorry for the very long delay to reply. I tested multiple times today and I couldn't recreate the crash. Maybe because I'm using a more recent build of Revit? `17.0.503.0 20161205_1400(x64) 2017.0.3`

[2017-03-20 20:06] schaggar16 commented on #18
@Lexiko and @ParametricMonkey would you mind sharing how you managed to map the sunlight hours to the surface and into Revit. I am trying to do the same thing but for Lux levels.

[2017-05-01 13:15] mdengusiak opened #26 "warning - Generate Color Node"
Hi,

I am struggling to get Generate Color node working,
seems that can not accept current structure,
Any idea how to fix it?

![image](https://cloud.githubusercontent.com/assets/14005893/25580361/4e2e5616-2e78-11e7-9548-32aa033bf28d.png)

[2017-05-10 07:37] schaggar16 commented on #8
@mostaphaRoudsari, My machines RAM (32GB) keeps getting maxed out when i run solar radiation analysis using Ladybug 0.1.5. I am running Dynamo 1.2.1 and Revit 2016, is there a fix for this?

[2017-05-27 16:28] mostaphaRoudsari commented on #26
@mdengusiak you're using the node wrong. It takes `values` and `legend parameters` and then you should use Dynamo's Display nodes to color the surfaces. Check the  updated example files for an example.

[2017-05-27 16:28] #26 closed

[2017-05-27 16:29] mostaphaRoudsari commented on #25
@jbenoit44 I'm closing this because of inactivity. Let me know if you have an example to recreate this.

[2017-05-27 16:29] #25 closed

[2017-05-28 09:54] schaggar16 opened #27 "RAM maxes out"
When i run analysis for solar radiation i find that my RAM gets fully used up. If if i reduce the analysis points.
This sometimes results in my machine crashing out which means i lose the results.
Any solution to this?

[2017-05-28 20:18] mostaphaRoudsari commented on #27
Yes. The solution is to use Honeybee and not Ladybug for radiation analysis. I'm removing radiation and sunlight hours from Ladybug as you can do both with honeybee in Dynamo. It doesn't seem that DynamoBIM geometry library will be improved at any point soon as you have probably seen it here: https://github.com/ladybug-tools/ladybug-dynamo/issues/8

![screenshot 4](https://cloud.githubusercontent.

[2017-05-28 20:19] mostaphaRoudsari commented on #8
@schaggar16 and @pflaumingo I replied here: https://github.com/ladybug-tools/ladybug-dynamo/issues/27#issuecomment-304537686

[2017-05-31 16:59] schaggar16 commented on #27
@mostaphaRoudsari when i change the type to radiation i get a message that i should be using a climate based sky. i have tried both the sky nodes included as part of Honeybee but get same error.
Could you provide an example of a radiation analysis using honeybee?

[2017-05-31 17:01] mostaphaRoudsari commented on #27
Yes! Will do. Give me some time and I will get back to you here. It's not your fault. I noticed that we haven't added cumulative sky to honeybee.

[2017-05-31 20:57] denivaldopereira opened #28 "Rooms to HBZones failled"
Hi Mostapha!
I am new member arround here, and first of all congratulate you for the LadyBug projetct. It's amazing!!!! I was using Ladybug and Honey Bee in grasshopper without not problems, but nowadays I am trying to use it in dynamo and I have a problem in the Rooms to HBZone. It doesn't working well. I got a print screen of what is going on there...

Thank you very much!

![ladybug](https://cl

[2017-06-01 17:00] mostaphaRoudsari commented on #28
Hi @denivaldopereira, Thank you for the kind comments. Rooms to HBZones is not the most stable node. If you have checked the example files for Honeybee you probably have seen this comment:

![image](https://cloud.githubusercontent.com/assets/2915573/26691179/30f48826-46ca-11e7-9744-3c04c0824883.png)

Unfortunately Revit API doesn't provide the necessary support for getting the geometry of room whi

[2017-06-04 21:04] SamDehghani commented on #10
Hi Lexico,
I made some changes to Konrad's node (Colored Surface Display) and was succesfully able to show results in Revit. I sent the modified node to Konrad to be reviewed. As soon as I get his comments I will send the workflow to Hydra on Gighub.
Sam

[2017-06-06 23:09] KimberleyR opened #29 "ERROR: Minute must be in 0..59"
Hi there. Not too sure what is going wrong with my script that I have written. I have followed the tutorial guidelines (on youtube) but have been unsuccessful in the generation of drawing a sun path in dynamo, and the tutorial that brings it all together due to this error. The error has remained with it being 'minute must be in 0...59 >: (7/21@7:60) (m/d@h:m)

Regards

[2017-06-06 23:51] mostaphaRoudsari commented on #29
@KimberleyR someone else also reported this issue but I can't recreate it. Can you share your file with me?

[2017-06-06 23:56] KimberleyR commented on #29
Hi there,

Here is the error file.

regards,

Kimberley

On Jun 06, 2017, at 04:51 PM, Mostapha Sadeghipour Roudsari <notifications@github.com> wrote:

@KimberleyR someone else also reported this issue but I can't recreate it. Can you share your file with me?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-06-06 23:59] mostaphaRoudsari commented on #29
@KimberleyR you need to attach the file on GitHub. You can't send it directly via email.

[2017-06-07 00:18] KimberleyR commented on #29
My apologies. Will do so now. On 7/06/2017 11:59 AM, Mostapha Sadeghipour Roudsari <notifications@github.com> wrote:@KimberleyR you need to attach the file on GitHub. You can't send it directly via email.

—You are receiving this because you were mentioned.Reply to this email directly, view it on GitHub, or mute the thread.

[2017-06-07 00:22] KimberleyR commented on #29
Hi, It wont let me attach the Dynamo file directly into this link, and dynamo wont let me convert it to a file that is accepted for upload

[2017-06-07 00:29] Lexiko commented on #29
zip it or change the extension to .txt in windows explorer

[2017-06-07 03:00] KimberleyR commented on #29
[sunlighthoursAnalysis.Error.zip](https://github.com/ladybug-tools/ladybug-dynamo/files/1056799/sunlighthoursAnalysis.Error.zip)

Hi, Thanks for that :)

[2017-06-07 15:41] mostaphaRoudsari commented on #29
Hi @KimberleyR! Thanks for sharing. I could recreate the error and it's fixed now. I just pushed the updated version to package manager (0.1.7).

![image](https://user-images.githubusercontent.com/2915573/26887284-97f90d76-4b75-11e7-8bbc-2e68874174d9.png)

[2017-06-07 15:41] #29 closed

[2017-06-15 00:32] mostaphaRoudsari commented on #17
This is fixed in the source code. Will close it after updating Ladybug-Dynamo node.

[2017-06-21 11:44] teabaker opened #30 "Peak solar radiation"
Hi!

I'm trying to find the peak solar radiation on windows, so that I can peform a solar heat gains analysis.

I'm running a Ladybug solar radiation analysis, but can only seem to get the total radiation over the analysis period.

![2017-06-21 13-41-51](https://user-images.githubusercontent.com/25978191/27382478-797fc930-5687-11e7-883e-62636d77030e.png)

Is there anyway to manipulate the inputs s

[2017-06-21 13:30] mostaphaRoudsari commented on #30
Hi @teabaker, I'm sorry that all my answers recently ends up in using honeybee and then honeybee is not fully released to help you with what you need. Once we address [this issue](https://github.com/ladybug-tools/honeybee/issues/135) you will have hourly annual results by default which you can use to find the max / min and much more like setting up sensors and dynamic blinds. You can read more [he

[2017-06-21 14:28] teabaker commented on #30
Ok, thanks for the quick response!

Do you have a rough idea of how long it will take to make this improvement?

A few days/weeks/months?

:)

[2017-06-21 14:44] mostaphaRoudsari commented on #30
I would say a couple of weeks to a month! I have branched out from the master branch to make an overhaul to both ladybug and honeybee and [have already removed sunlight hours and radiation analysis from ladybug](https://github.com/ladybug-tools/ladybug/commit/95bcaeda543fa27a1f646d01e49c77ff93c9c9ab). Once the honeybee development branch is ready and merged back it should take us a week or two for

[2017-06-29 13:40] mostaphaRoudsari commented on #10
Check [these examples](http://hydrashare.github.io/hydra/?keywords=samDehghanibake). Thanks @SamDehghani!

[2017-06-29 13:40] #10 closed

[2017-07-05 15:51] schaggar16 commented on #27
@mostaphaRoudsari - sorry to pester but is there a time frame for the implementation of the cumulative sky to honeybee plus?

[2017-07-06 16:57] mostaphaRoudsari commented on #30
Just an update here that you can hopefully test this before mid July. First release is the most challenging one as everything is up in the air. @sariths and I will have a talk tomorrow to discuss this in details.

[2017-07-06 17:00] mostaphaRoudsari commented on #27
@schaggar16! Thanks for keeping the pressure on! 😉  I just posted an update [here](https://github.com/ladybug-tools/ladybug-dynamo/issues/30#issuecomment-313456110). We need to make sure it goes hand in hand with the rest of the project, otherwise adding a single node should not take this long.

[2017-07-06 21:19] schaggar16 commented on #27
@mostaphaRoudsari glad i can help haha. and great stuff with the development off this - a real asset. looking forward to put the first release through it paces for you :)

[2017-07-17 13:10] najmehdokhanchi opened #31 "Changing timestep into numeric number instead of integer number"
Hello Mostapha ,
I want to create a sun path for a specific hour of a day for example the hour of 12:34 .
Could you please tell me how can I set non integer number for hoursOfYear in Analysis Period node?
Best regards,
Najmeh

[2017-07-17 16:43] mostaphaRoudsari commented on #31
Hi @najmehdokhanchi,

12:34 is 12 + 34 / 60 = 12.56667

you can use a code block for this calculation.

![image](https://user-images.githubusercontent.com/2915573/28279105-6db49872-6aed-11e7-8a06-97de0721a6ee.png)

[2017-07-17 16:44] #31 closed

[2017-07-18 07:59] najmehdokhanchi commented on #31
Hello Mostapha ,
Thank you very much for your help.
Best regards,
Najmeh

[2017-07-21 15:23] #17 closed

[2017-07-26 02:29] mostaphaRoudsari commented on #30
The nodes are added via https://github.com/ladybug-tools/honeybee-dynamo/commit/65e7b7d06e719f5b0a0a8c1834397bbccc12f7c7

[2017-07-26 02:29] #30 closed

[2017-07-26 02:32] mostaphaRoudsari commented on #27
Resolved via https://github.com/ladybug-tools/honeybee-dynamo/commit/65e7b7d06e719f5b0a0a8c1834397bbccc12f7c7

Next release of Honeybee supports hourly, annual and cumulative radiation analysis.

[2017-07-26 02:32] #27 closed

[2017-07-26 02:34] mostaphaRoudsari commented on #8
All the analysis are now moved to [honeybee-dynamo](https://github.com/ladybug-tools/honeybee-dynamo) and are using Radiance for ray-tracing. This is not related anymore however it would be great if this will be addressed inside Dynamo at some point.

[2017-07-26 02:34] #8 closed

[2017-07-26 02:35] #21 closed

[2017-07-26 02:36] mostaphaRoudsari commented on #23
Already started this in the `plus` branch: https://github.com/ladybug-tools/ladybug-dynamo/tree/plus

[2017-07-26 02:40] mostaphaRoudsari commented on #28
I'm closing this issue in favor of https://github.com/ladybug-tools/honeybee-dynamo/issues/61

Feel free to open an new issue under honeybee-dynamo repository and share your file.

[2017-07-26 02:40] #28 closed

[2017-08-22 05:39] mostaphaRoudsari opened #32 "Re-write sunpath node not to use intersection and trim"
I have been working on this today and it's harder than what it sounds. The last thing that I want to do at this point is to delay the release and fix stuff like this but at the same time trim is both unreliable and slow. Couldn't let this one go!

[2017-08-22 05:40] mostaphaRoudsari commented on #23
This is already addressed [here](https://github.com/ladybug-tools/ladybug-dynamo/commit/7c191edf3434c82fdffd03f020059a2949ed234a).

[2017-08-22 05:40] #23 closed

[2017-08-23 04:58] #32 closed

[2017-08-23 04:58] mostaphaRoudsari commented on #16
generate test points node is removed from ladybug and moved to honeybee. This issue is not related anymore.

[2017-08-23 04:58] #16 closed

[2017-09-19 01:20] mostaphaRoudsari opened #34 "Let the user change the path to IronPython installation"
I assumed that the IronPython installation will always be under the same folder once Dynamo is installed but turns out that it can be different! This can potentially make a lot of troubles as I need to find a way to set the path IronPython and read it dynamically based on user's input.

See [here](http://discourse.ladybug.tools/t/update-error/1968/2?u=mostapha).

[2017-10-10 12:55] JeroenBg opened #35 "radiance analysis without test grid"
Hi Mostapha,

I'm trying to create a radiance analysis on a big wavy train station roof surface. This is easy to do in Grasshopper, as the radiance analysis node 'projects' an analysis grid onto the roof surface. But my company preferences Dynamo instead.  In Dynamo I need to define a border for 'generate testpoints by grind size', which isn't accepted when its a irregular shape (both on the X and

[2017-10-12 12:41] mostaphaRoudsari commented on #35
Hi @JeroenBg,

You can use any other Dynamo node to generate the points for irregular surfaces. Have you tried to work with evaluate surface node? For your case it sounds like the meshing nodes can also be helpful.

What honeybee needs for the analysis is a list of points (center points) with their directions (normal vector). Once you get the results you can visualize it with the same workflow.

P

[2017-10-25 20:24] JeroenBg commented on #35
[dynfile.zip](https://github.com/ladybug-tools/ladybug-dynamo/files/1416033/dynfile.zip)
hi @mostaphaRoudsari,

Thanks for your reply! I tried that but then the Cumulative Value node shows a single value for all points (if I understand it correctly). I thing I am doing something wrong, I've included the project in the zipfile. Also I don't see how this would work with shading from buildings in env

[2017-12-14 19:47] mostaphaRoudsari commented on #35
@JeroenBg, Sorry that I missed this one here! Is this still an issue or did you figure it out?
I think the right place for this question is the forum. More people can help and it doesn't get lost.
http://discourse.ladybug.tools/t/welcome-to-ladybug-tools-forum/8

[2017-12-15 07:03] JeroenBg commented on #35
Hi Mostapha,

No problem, I figured it out myself! Can't remember how exactly but it worked in the end. Thanks for your help end this awesome tool.

[2017-12-15 07:03] #35 closed

[2017-12-15 17:52] mostaphaRoudsari commented on #35
Thank you for the update! Happy that you solved the issue. We really need to capture some tutorials for Honeybee in Dynamo. There is not much out there to get people started.

[2018-01-30 11:28] ahmad7sn opened #36 "ladybug-dynamo 1.9 and 1.5"
Hello,
I have installed ladybug for dynamo latest version 1.9 and it seems that it missing some nodes when i open the sample files Mostapha provided specially sunlight hours analysis file. When i open the file on 1.5 version it works normally. Is it a common problem or is there something i can do to fix this issue?

I do use Grasshopper and ladybug plugin is working fine, but the issue is that I'm

[2018-01-30 18:23] mostaphaRoudsari commented on #36
Hi @ahmad7sn, Sunlighthours is part of honeybee. Did you also updated your honeybee installation?

[2018-02-11 11:32] ahmad7sn commented on #36
@mostaphaRoudsari, Yes, Honeybee version is 0.1.7. Have you changed the nodes names?

[2018-02-11 15:25] mostaphaRoudsari commented on #36
@ahmad7sn, no I haven't. We just released new versions of Ladybug and Honeybee and I updated the example files that comes with the installation and the ones on Hydra. Can you try this file and let me know if it works.
http://hydrashare.github.io/hydra/viewer?owner=mostaphaRoudsari&fork=hydra_1&id=Sunlighthours_Ladybug_Dynamo&slide=0&scale=1&offset=0,0

[2018-02-13 14:02] ahmad7sn commented on #36
@mostaphaRoudsari, Yup, it is working! thanks for you help.

[2018-02-14 00:29] mostaphaRoudsari commented on #36
Great to hear! 🐞🍂!

[2018-02-14 00:29] #36 closed

[2018-06-12 14:39] rozaslera opened #38 "Hourly values radiance analysis are zero"
Hi, I am trying to perform a day light analysis.. the hourly values are zero. I have tried to connect different epw files for locations.  Radiance is installed in c:/Radiance.

Sorry maybe the issue is a stupid mistake but i am new to ladybug tools.

Thanks

Emanuele
![capture](https://user-images.githubusercontent.com/37893601/41297121-bef84b1e-6e5e-11e8-8036-1c8848d1cb24.png)

[2018-08-09 19:24] mostaphaRoudsari commented on #38
I'm closing this issue as it has been so long from when this issue is posted.
We just updated the installation package for Ladybug and Honeybee. Please update your installation and run the script. If that didn't solve the issue please post it to the forum (discourse.ladybug.tools)

[2018-08-09 19:24] #38 closed

[2018-12-17 14:14] mengelmn opened #39 "Ladybug - Dynamo 2.1 vs 2.0"
On different machines, I have a combination of Dynamo versions installed and active.  All Scripts and Packages behave normally with the exception of Ladybug.

Ladybug operates correctly on the Machines with Dynamo Version 2.0.1 Installed
Ladybug returns an error message "Not Installed" on Machines running Dynamo 2.1

Primarily I see the error message on the "Sunpath" node.  It would appear it is n

[2018-12-17 21:56] mostaphaRoudsari commented on #39
Hi @mengelmn, my best guess is that the dynamo team has changed the structure of the installation folder again! 😕 Can you share with me where the Ladybug package is installed when you use Dynamo 2.1?

[2018-12-17 22:15] mengelmn commented on #39
Below is the path where it is installed on the machine with 2.1 The Only difference appears to be 2 vs 2.1

C:\Users\__USER__\AppData\Roaming\Dynamo\Dynamo Core\2.1\packages

[2018-12-17 22:27] mostaphaRoudsari commented on #39
Thanks! Are you not using it from inside Revit? It's interesting that it has been installed under Dynamo Core and not Dynamo Revit.

[2018-12-18 01:15] mengelmn commented on #39
Correct, I'm currently using it via Dynamo Sandbox without Revit.  In the End, it will be applied to a Revit model, but design iterations have proved much faster when running separately from Revit

[2018-12-19 17:28] mengelmn commented on #39
On a whim to get this functioning, I created a Dynamo 2.0 folder on the machine that does not work and placed the Ladybug Package in that location.  And it is now able to see the path and pull the .py files correctly.  This works for today, and also definitely reinforces its a pathing issue

[2019-09-18 14:33] manum876 commented on #39
I´m having the same error, but I'm running Dynamo Revit 2.0.
Says that it's not installed and that I should install it from package manager.

File locations are ok

[2019-10-16 20:07] dtp81390 opened #41 "Run Radiance Analysis Node"
I am unsure if this is a bug but this is the error message I received when I run the Run Radiance Analysis node

![image](https://user-images.githubusercontent.com/31420993/66954776-a8a01e00-f026-11e9-9210-e85075e3724c.png)

[2019-11-28 21:06] rigertsen opened #42 "Node Error Dynamo <string> line 49"
Hello everyone, i'm new on dynamo and i wanted to learn it with an example find on Hydra "Test Points and Legend Parameters Ladybug Dynamo" (.
[http://hydrashare.github.io/hydra/viewer?owner=mostaphaRoudsari&fork=hydra_1&id=Test_Points_and_Legend_Parameters_Ladybug_Dynamo&slide=0&scale=1&offset=-33.04977108575429,-33.622177688030774)](url)
I downloaded the file in run dynamo after downloading Lady

[2019-11-28 22:11] rigertsen commented on #42
I think i solved it, i installed the Honeybee + and after that another error said that in the last Honeybee was missing the "generate test points by grid size" node (and a few folders with that that i found on the 0.0.6 version. Idk how but i solved it :)
@mostaphaRoudsari can you confirm it?

[2020-04-08 16:54] RaquelMirraSantos opened #43 "Dynamo 2.0.3 | Ladybug 0.2.1"
Hi,
I tried using the Ladybug 0.2.1 package for the first time in Revit 2020 with Dynamo 2.0.3, and the two nodes that I tried (Date Calculate HOY, and Import Location) were giving me the same error:

ERROR:
	invalid literal for float(): DynamoForRevit

If you think this is a bug submit an issue on github.
https://github.com/ladybug-tools/ladybug-dynamo/issues
and include below error message:

Tra

[2020-04-17 15:57] OrtizJ3 commented on #36
Greetings! I'm having the same issue with the missing Sunlighthours Analysis node. I'm using Revit 2020. Are there any updates planned?

[2020-06-09 17:58] ib990 commented on #43
me too same problem here
![image](https://user-images.githubusercontent.com/66656783/84183016-484c6980-aa59-11ea-81a7-c76126475225.png)
![image](https://user-images.githubusercontent.com/66656783/84183049-4edae100-aa59-11ea-95bf-0b92e0e3cffe.png)

[2020-08-03 15:50] metobb commented on #43
Hi!
I have the same issue.. I am using student version of Dynamo Revit.

Any solution for this case?

![image](https://user-images.githubusercontent.com/59569553/89201432-c8063880-d5b1-11ea-8766-3493cabf970e.png)

[2020-08-11 11:04] ptricktk commented on #43
Running Revit 2021 with latest updates. Still the same issue. I do not know what to do about this. We tried installing Ladybug-Core with pip to see if that solved the issue, but no luck.

Ladybug is running fine in Rhino/Grasshopper on the same machine.

[2020-09-27 19:26] Babinoff commented on #43
It's all about "import and prepare py code" node in all ladybug nodes, what dont find package *.py files correctly anymore.
Made some sample node to fix it, put it in "ladybug-fixer" package.
![изображение](https://user-images.githubusercontent.com/36503488/94373745-0599c480-0110-11eb-823e-5ce961b456ad.png)
![изображение](https://user-images.githubusercontent.com/36503488/94373757-1b0eee80-0110-11

[2020-09-28 10:55] metobb commented on #43
@Babinoff Thanks for sharing it! I have tried your solution, however I am still getting Null out of ladybugfixer node. Could you tell me if I am missing something in my process?

![image](https://user-images.githubusercontent.com/59569553/94423929-b7c1a280-0189-11eb-9f91-1a922452c02a.png)

[2020-09-29 19:28] Babinoff commented on #43
I think it's all about the / signs in the file path, you used the \ sign, which needs to be escaped \\\ inside the python syntax, try to use / like in my screens.

[2020-09-29 20:34] metobb commented on #43
I changed to "/" sign, but still getting Null out of it..

![image](https://user-images.githubusercontent.com/59569553/94612538-876e2700-02a3-11eb-8591-0fa0a7e7f40e.png)

[2020-09-29 20:42] metobb commented on #43
I downloaded the node from your package "ladybug-fixer", and it worked out :) thanks again!

[2020-10-13 13:02] dh803 commented on #43
@Babinoff Hey, Alex! Thanks for your solution. But in my case, it works for "import location", but not other nodes. I had no idea what's the problem.
![15cdb3400ecf34187bd3522cf7c1956](https://user-images.githubusercontent.com/72803755/95863798-87b6f980-0d5c-11eb-8531-c4b76f587435.png)
![85138b7232aee8605214edf056f55da](https://user-images.githubusercontent.com/72803755/95863808-8ab1ea00-0d5c-11eb

[2020-10-18 09:49] Babinoff commented on #43
Did`nt test on all nodes, but sunpath works fine.
Maybe better to take Simon version - https://github.com/sbreslav/ladybug-dynamo/tree/simon-fix
Arhiv of his files, to simply resave pacakge - https://1drv.ms/u/s!AvhRIUtKr8n2g9Mjq-HG8GEaWYsInA?e=pgAwYH
Like this - https://youtu.be/je50RoDQeoQ?t=250

[2020-10-22 11:11] dh803 commented on #43
Thank you Alex. I'll test again!

[2020-10-26 16:14] dh803 commented on #43
@Babinoff Hey Alex. Sorry to bother you again. Thanks to your help, the sun path is working now. But it shows this warning when I'm trying to use Legend Parameters :
![image](https://user-images.githubusercontent.com/72803755/97197897-1472a600-17a6-11eb-8516-06e46a4f3af9.png)

Any idea how to resolve it?

[2020-11-21 19:21] Juanigacio opened #44 "I have this problem that i will show you in the screenshot, I think this node (Rooms to HBZones) is not working and i don´t konw why..."
Hello! Thank you for helping us by reporting bugs or requesting for improvements. Before posting your issue, please quickly review the notes below to ensure opening an issue is the right choice for your case.

- If this issue is **not** a bug report or improvement request, please check the [Ladybug Tools forum](http://discourse.ladybug.tools), and start a topic there to discuss your issue. If you

[2020-11-21 19:24] Juanigacio commented on #44
I have this problem that i will show you in the screenshot, I think this node (Rooms to HBZones) is not working and i don´t konw why... Im using revit 2021 with the last dynamo. Thank you in advance!
![image](https://user-images.githubusercontent.com/74835202/99885765-06356f80-2c16-11eb-9eea-eebe2943a375.png)

[2020-11-25 06:36] adonis8233 commented on #43
Hi, I'm new in Dynamo, does anyone could tell me where to find/write decompose outputs?

[2020-11-25 07:33] Babinoff commented on #43
I think he's waiting list of API Color and you give him DSCore.Color, which did Colore Range node.
https://www.revitapidocs.com/2019/3735f9b9-d477-09ea-25bd-67f34134595f.htm

[2022-08-05 08:52] AlbanSAP opened #46 ""nul" value for all nodes' out"
Hello to all,

Thank you in advance for the information you will give me, I am new to the world of dynamo and more particularly the Ladybug package at the moment.

To discover the possibilities of the latter I wanted to follow some tutorials (http://hydrashare.github.io/hydra/?keywords=ladybugdynamo)

The problem is that, even using the files provided by the tutorials, I end up with the same final